<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" href="_ui/css/screen.css" type="text/css" media="screen" title="no title" charset="utf-8" />
        <link rel="shortcut icon" href="/icon.png" />
        <link rel="image_src" href="/icon.png" />
        <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
        <meta name="description" content="Shop for Japan: A One-Day Global Local Movement To Benefit Japan
        On March 26th 2011, participating businesses donate a percentage of their one-day revenues to causes supporting disaster relief in Japan." />
        <meta name="keywords" content="Japan, relief efforts, donate, shop for japan, earthquake relief, donate to japan" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" charset="utf-8" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
        <script src="_ui/js/modernizr-1.6.min.js"></script>

        <title>Shop For Japan - Sign Up</title>
    </head>
    <body id="home">
      <div id="wrapper">
        <ul id="nav">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/who-we-are">Who We Are</a></li>
          <li><a href="#">List of Businesses</a></li>
          <li class="divider">&nbsp;</li>
          <li><a href="/login">Sign Up Your Business</a></li>
          <li><a href="participant-kit.zip">Download Poster &amp; How-To</a></li>
          <!--<li class="displaynone"><a href="#">Report Donations</a></li>-->
        </ul>
        <div id="inner">
  <img src="_ui/img/home/banner.jpg"  alt="Banner" />
        <h1>Sign Up to Particpate</h1>
         <div id="company_info">
  <%= form_for :company, @company, :url => url_for(:controller => 'companies', :action => 'create'), :html => { :method => :post } do |f| %>
    <fieldset>
      <p>
        <%= f.label :name, "Company Name"%>
        <%= f.text_field :name, :size => "30", :class => "text"%>
      </p>
      <p>
        <%= f.label :email, "Email"%>
        <%= f.text_field :email, :size => "30", :class => "text"%>
      </p>
      <% if params[:facebook] %>
        <p>
          <%= f.label :password %><br />
          <%= f.password_field :password %>
        </p>
        <p>
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation %>
        </p>
      <% end %>
      <p>
        <%= f.label :address, "Address"%>
        <%= f.text_field :address, :size => "30", :class => "text"%>
      </p>
      <p>
        <%= f.label :city, "City"%>
        <%= f.text_field :city, :size => "30", :class => "text"%>
      </p>
      <p>
        <%= f.label :zip, "Zip Code"%>
        <%= f.text_field :zip, :size => "10", :class => "text"%>
      </p>
      <p>
        <%= f.label :country, "Country"%>
        <%= f.select :country, ::COUNTRIES, :class => "text"%>
      </p>
      <p>
        <%= f.label :website, "Website"%>
        <%= f.text_field :website, :value => 'http://', :class => "text"%>
      </p>
      <p>
        <%= f.label :category, "Business Category"%>
        <%= f.select :category, ::CATEGORIES, :class => "text"%>
      </p>
      <p>
        <%= f.label :donation_percent, "Donation Percent"%>
        <%= f.select :donation_percent, (1..100).to_a, :class => "text"%>
      </p>
      <p>
        <%= f.label :online, "Online Sales?"%>
        <%= f.check_box :online %>
      </p>
      <p>
        <%= f.label :retail, "Retail Sales?"%>
        <%= f.check_box :retail %>
      <p>
        <%= f.label :comments, "Any additional comments?"%>
        for example: "50% pledged from online sales only"
        <%= f.text_area :comments, :rows => 5, :cols => 45%>
      </p>
      <input type="submit" value="get listed" />
    </fieldset>
  <% end %>
</div>




          <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-15516624-5']);
            _gaq.push(['_trackPageview']);

            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();



          </script>
          <div class="push"></div>
        </div>

        <div class="footer">
          <ul id="footer-nav">
            <li><a href="/press">Press</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </div>
      </div>

    </body>
</html>


